<div class="panel panel-default">
  <div class="panel-heading form-inline form-group">
    <select [(ngModel)]="logicalOperator"
            (ngModelChange)="onChangeLogicalOperators($event)"
            class="form-control">
      <option *ngFor="let o of operators">{{o}}</option>
    </select>
    <button class="btn btn-success" *ngIf="!group?.conditions?.length" (click)="addCondition()">Add Condition</button>
    <button class="btn btn-success" (click)="addGroup()">Add Group</button>
    <button class="btn btn-danger" (click)="removeGroup()" *ngIf="parentGroup">Remove Group</button>
  </div>
  <div class="panel-body">
    <query-builder-condition *ngFor="let c of group?.conditions"
                             [condition]="c"
                             [fields]="fields"
                             [parentGroup]="_this"
                             (conditionChange)="conditionQueryChange($event)"></query-builder-condition>
    <query-builder-group *ngFor="let g of group?.groups"
                         [fields]="fields"
                         [operators]="operators"
                         [group]="g"
                         [parentGroup]="group"
                         (queryChange)="_queryChange($event)"></query-builder-group>
  </div>
</div>
