<form class="form-inline form-group" *ngIf="fields" #conditionForm="ngForm">
  <select #fieldCtrl="ngModel"
          name="field"
          class="form-control"
          [class.has-error]="fieldCtrl.touched && fieldCtrl.invalid"
          [(ngModel)]="condition.field"
          (change)="onFieldChange()"
          required>
    <option *ngFor="let f of fields">{{f.name}}</option>
  </select>
  <select #operatorCtrl="ngModel"
          name="operator"
          class="form-control"
          [disabled]="fieldCtrl.invalid"
          [class.has-error]="operatorCtrl.touched && operatorCtrl.invalid"
          [(ngModel)]="condition.operator"
          (change)="onOperatorChange($event)"
          required>
    <option *ngFor="let o of selectedField?.operators">{{o}}</option>
  </select>

  <input *ngIf="selectedField?.type != 'enum' && selectedField?.type != 'boolean'"
         #valueCtrl="ngModel"
         name="value"
         [type]="selectedField?.type || 'text'"
         class="form-control"
         [class.has-error]="valueCtrl.touched && valueCtrl.invalid"
         [(ngModel)]="condition.value"
         (change)="onValueChange($event)"
         required />

  <select *ngIf="selectedField?.type == 'enum'"
          #enumValueCtrl="ngModel"
          name="enumValue"
          class="form-control"
          [disabled]="fieldCtrl.invalid"
          [class.has-error]="enumValueCtrl.touched && enumValueCtrl.invalid"
          [(ngModel)]="condition.value"
          (change)="onEnumValueChange($event)"
          required>
    <option *ngFor="let v of selectedField?.enum" [value]="v.value">{{v.text}}</option>
  </select>
  <select *ngIf="selectedField?.type == 'boolean'"
          #boolValueCtrl="ngModel"
          name="boolValue"
          class="form-control"
          [disabled]="fieldCtrl.invalid"
          [class.has-error]="boolValueCtrl.touched && boolValueCtrl.invalid"
          [(ngModel)]="condition.value"
          (change)="onBoolValueChange($event)"
          required>
    <option value="true">True</option>
    <option value="false">False</option>
  </select>

  <button class="btn btn-success"
          type="submit"
          *ngIf="canAddCondition()"
          (click)="parentGroup?.addCondition()"
          [disabled]="conditionForm.form.invalid">
    Add Condition
  </button>
  <button class="btn btn-danger" type="button"
          (click)="removeCondition()">
    Remove Condition
  </button>
</form>
